.card-layout {
  display: flex;
  justify-content: center;
  
  .card-layout__image,
  .card-layout__content {
    height: 13.4rem;
  }
  .card-layout__image {
    width: 12rem;
    min-width: 12rem;
  }
  
  .card-layout__content {
    width: 16rem;
    min-width: 16rem;
  }
  
  &.image-top {
    flex-direction: column;
    /*height: 24rem;*/
  }
  &.image-bottom {
    flex-direction: column-reverse;
    /*height: 24rem;*/
  }
  &.image-left {
    flex-direction: row;
    /*width: 28rem;*/
  }
  &.image-right {
    flex-direction: row-reverse;
    /*width: 28rem;*/
  }
  
}