.window-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  .window-layout__header {
  
  }
  .window-layout__default {
    flex-grow: 1;
    overflow-y: auto;
  }
  .window-layout__footer {
  
  }
}