.health-report-container {
  height: 100%;
  & > div:nth-child(odd) {
    margin-left: 40rem;
  }
  
  & > div:nth-child(even) {
    margin-right: 40rem;
  }
  
  & > div {
    padding-block: 3rem;
  }
}