.taskbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;
  
  
  .taskbar__weather {
  
  }
  .taskbar__main {
    display: flex;
    gap: 1rem;
  }
  .taskbar__time {
  
  }
}